@model WebBanHang.Models.Product

@{
    var cate = (IEnumerable<WebBanHang.Models.Category>)@ViewBag.cate;
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}
@section title
{
    <title>Chi Tiết - @Model.Name</title>
}


<div>
    <h4>Chi Tiết sản phẩm - @Model.Name</h4>
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @cate.Where(m => m.Id == @Model.Category).SingleOrDefault().Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(@Model.Description)
        </dd>
        <dt>
            Hình ảnh hiện tại
        </dt>
        <dd>
            <div class="form-group">
                @Html.Label("hình của sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    <img id="srcimage" src=@Model.Image class="col-xs-12" />
                </div>
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image, new { Readonly = "readonly" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTop)
        </dd>

        

    </dl>
    <hr />

</div>



<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về", "Index", "HomeAdmin")
</p>
